header {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
}

header > .title {
    padding: 0px;
    margin: 10px;
    margin-bottom: 0px;
}

header > .icon {
    font-size: 40px;
    margin: 0;   
}
