*{
    padding: 0;
    margin: 0 auto; 
}

body {
    overflow-y: hidden;
}

/* Header */

header {
    display: flex;
    font-weight: nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
}

header::before, header::after
{
    content: "";
    border-bottom: solid 2px white;
    width: 20%;
}

header > h4 {
    margin: 0;
    padding: 0 10px;
    width: 100%;
    text-align: center;
}



header > h4::after
{
    display: block;
    content: " ";
    width: 100%;
    color: white;
}

.content {
    position: relative;
    top: 80px;
    height: calc(100vh - 105px);
    max-height: calc(100vh - 105px);
    display: flex;
    font-display: row;
    font-weight: nowrap;
}

/* Navigation */

.list {
    margin: 0;
    padding: 0 1%;
    width: 20%;
    max-height: inherit;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

.list > h3 {
    margin: 0 auto;
}

.list > .buttons {
    width: 100%;
    bottom: 0;
    padding: 5px 0;
    margin-top: auto;
}

.list > #navigation {
    margin: 0;
}

.chapter {
        list-style: none;
        margin: 10px 0;
        font-size: large;
}

.chapter > a {
    text-decoration: none;
    color: #212529 !important;
}

.subchapters {
    list-style: none;
    font-size: medium;
    padding: 0 24px;
    font-style: italic;
}

.subchapters > li > a {
    text-decoration: none;
    color: #212529 !important;
}

/* Content */

article {
    margin: 0;
    padding: 0 2%;
    width: 80%;
    max-height: inherit;
    overflow-y: auto;
    text-indent: 1.5em;
    text-align: justify;
}

article > figure {
    margin: auto;
    max-width: 100%;
    width: 60%;
}

article > figure > img {
    width: 100%;
}

article > figure > figcaption {
    text-align: center;
}

article > h3, h4 {
    font-weight: bold;
    width: 100%;
    text-align: center;
}

/* Footer */

footer {
    height: 25px;
}
