*{
    padding: 0;
    margin: 0 auto; 
}

body {
    overflow-y: hidden;
    min-height: 100vh;
}

.wraper {
    position: relative;
    top: 50px;
    height: calc(100vh - 75px);
    max-height: calc(100vh - 75px);
    display: flex;
    font-display: row;
    font-weight: nowrap;
}

hr {
    min-height: 1px;
}

