*{
    padding: 0;
    margin: 0 auto; 
}

body {
    overflow-y: hidden;
}

.wraper {
    position: relative;
    top: 60px;
    height: calc(100vh - 85px);
    max-height: calc(100vh - 85px);
    display: flex;
    font-display: row;
    font-weight: nowrap;
}

hr {
    min-height: 1px;
}

.to-top {
    position: fixed;
    right: 0;
    width: 4.5rem;
    height: 4.5rem;
    display: none;
}

.to-top > a {
    margin: 10%;
    padding: 0;
    width: 80%;
    height: 80%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-top-show {
    display: block;
}